<%- include("Header.ejs")%>
<body class="Poems1">
    <p>Bengali Poems</p>
    <p>A Dream</p>
    <form action="Poem1" method="Post"> 
        <button class="Button1" id="Poem1" type="Submit">View Poem</button>
    </form>
    <p>A Hundred Years Hence</p>
    <form  action="Poem2" method="Post"> 
        <button class="Button2" id="Poem2" type="Submit">View Poem</button>
    </form>
    <p>A Moments Indulgance </p>
    <form  action="Poem3" method="Post"> 
        <button class="Button3" id="Poem3" type="Submit">View Poem</button>
    </form>
    <p>The sky full of sun and stars</p>
    <form   action="Poem4" method="Post"> 
        <button class="Button4" id="Poem4" type="Submit">View Poem</button>
    </form>
</body>