<%- include("Header") %>
<title>Stories</title>
<body class="StorySection"> 
    <p> 
        Story Section
    </p>
    <form action="Story1" method="Post"> 
        <button id="StoryButton1" type="submit">Press here for story 1</button>
    </form>
    <form action="Story2" method="Post"> 
        <button id="StoryButton2" type="submit">Press here for story 2</button>
    </form>
    <form action="Story3" method="Post">
        <button id="StoryButton3" type="submit">Press here for story 3</button>
    </form>
    <form action="Story4" method="Post">
        <button id="StoryButton4" type="submit">Press here for story 4</button>
    </form>
</body>